*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  padding: 0 140px 26px 0;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  line-clamp: 2;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}
